header {
    width: 100%;
    padding: 28px 8%;
}

#navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 28px;
    color: #CF9134;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: rgb(49, 45, 45);
    font-weight: 600;
}

.nav-item a:hover {
    color: #000000;
    border-bottom: 3px solid #DE8D14;
    border-radius: 4px;
}

@media (max-width: 768px) {
    header {
        padding: 15px 5%;
    }

    #navbar {
        flex-wrap: wrap;
    }

    .nav-list {
        flex-direction: column;
        gap: 12px;
    }
}

@media (max-width: 480px) {
    #nav_logo {
        font-size: 32px;
    }

    .nav-list {
        gap: 10px;
    }
}
