#home{
    display: flex;
    min-height: calc(100vh - 90px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title{
    font-size: 4rem;
    color: #1d1d1d;
}

#cta .title span{
    color: #CF9134;
}

#cta .description{
    font-size: 1.2rem;
}

#cta_buttons {
 display: flex;
 gap: 24px;
}



#cta_buttons a {
    text-decoration:
    none;
    color: #ffffff;
}

.btn1:hover{
    background-color:#d68b1b;
}
#banner {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    width: 80%; /* Define o espaço que o banner ocupa */
    z-index: 2;
    position: relative; /* Torna a posição relativa para alinhar com o .shape */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites */
    left: 150px;
}

#banner img {
    max-width: 150%; /* Garante que a largura máxima da imagem respeite o container */
    height: 760px; /* Mantém a proporção da imagem */
    object-fit: cover; /* Ajusta a imagem ao tamanho do container */
    z-index: 2; /* Certifica-se de que a imagem esteja acima do fundo */
    position: relative;
}

.shape {
    background-color: #cf9134c5;
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 80px;
    z-index: 1; /* Mantém o fundo atrás da imagem */
}
